
body {
     
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(90deg, #060606, #0b0b0a);
    height: 80vh;
}





.formulario{
    position: relative;
    top: 59%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 635px;
    background: white;
    border-radius: 50px;
    
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario {
    padding: 0 40px;
    box-sizing: border-box;

} 

.username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    


}
form .username{
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
}

.username input{
    width: 100%;
    padding:0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;

}
.username label{
    position: absolute;
    top:50%;
    left: 5px;
    color:#adadad
    transform:transla¿¿¿
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
 }
 .username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100   %;
    height: 2px;
    background:#6c3483

    

 } 





.recordar:{
    margin: -5px 0 20px 5px;
    color:blue;
    cursor: pointer;
}
.recordar::hover{
    text-decoration: underline;

}



.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;

}

.registrarse a{
    color: rgb(12, 12, 12);
    text-decoration:none;

}

.registrarse a:hover{
    text-decoration:underline
}
body{
    background-color: black;
}
.mano1{
    position: absolute;
    top: 10%;
    left: -150%;
}